
.body{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d4e2e2;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    position:absolute;
	top:0;
	left:0;
	z-index:11;
}
.containerMain{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    height: auto;
    margin-top: 5em;
    margin-left: 2;
}
.boxTitle{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 1.5em;
    background-color: #031f5a;
    color: #fff;
    margin-top: em;
}
.boxTitle h1{
    font-size: 5em;
    margin-top: 0.5em;
    margin-left: 0.5em;
}
.boxTitle p{
    margin-top: -2em;
    margin-left: 2em;
    font-size: 2em;
}
.box1{
    width: 12em;
    margin-left: 1em;
    font-size: 8em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box2{
    width: 25em;
    height: auto;
}
.title{
    font-size: 4em;
    margin-bottom: 0;
    color: #00133b;
    text-align: center;
}
.tag{
    margin:0 0  0.25em 0.25em;
    height: 2.5em;
}
.divProj:hover h1, .divProj:hover p{
    color: #002e92;
    transition: 0.3s;
}
.divProj:hover{
    margin-top: -15px;
}
.divProj p{
    margin: 1em;
    color: black;
}
a{
    text-decoration: none;
    color: #00133b;
    
    transition: 0.3s;
}
.boximg{
    width: 15em;
    height: 8em;
    text-align: center;
    align-items: start;
}
.about{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1em;
}
.text{
    width: 60em;
}
.text p{
    font-size: 2.5em;
}
.containerContact{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containericon, .link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.subject{
    width: 35%;
    height: 3em;
    border-radius: 6px;
    outline: none;
    border: solid 1px #00133b;
    background-color: #c7dbdb;
    margin: 1em;
    padding-left: 1em;
}
.subject::placeholder {
    position: absolute;
    top: 0; 
    left: 0;
    margin: 1em;
}
.bodymail{
    width: 35%;
    height: 9em;
    border-radius: 6.5px;
    outline: none;
    border: solid 1px #00133b;
    background-color: #c7dbdb;
    padding: 1em 0 0 1em;
    margin: 1em;
}
.bodymail::placeholder {
    position: absolute;
    top: 0; 
    left: 0;
    margin: 1em;
}
.icon{
    width: 2em;
    height: au;
}
.divIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5em;
}
::-webkit-input-placeholder{
    color: #00133b;
}
.containerProjects{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
    width: 100%;
    margin-top: 2em;
    margin-left: 0.25em;
}
.divProj{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    border: solid 1px #00133b;
    width: 15em;
    height: 8em;
    border-radius: 5px;
    transition: 0.3s;
    margin-left: 1em;
    margin-top: 1em;
}
.iconProj{
    width: auto;
    height: 1.7em;
}
.botao {
    width: 22vw;
    height: 5vh;
    border: none;
    border-radius: 0.6vh;
    background-color: #353f77;
    color: #FFF;
}
.botao:hover {
    background-color: #0e1125;
    cursor: pointer;
}

@media (max-width: 1440px) {
    .picture{
        width: 35em;
    }
    .text{
        font-size: small;
    }
    .subject, .bodymail{
        width: 80%;
    }
    .botao{
        width: 80%;
    }
    .box2{
        width: 55%;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (max-width: 1024px) {
    .about{
        flex-direction: column;
    }
}
@media (max-width: 768px) {
    .containerMain{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .box1, .box2{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;    
    }
    .skill{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .text{
        width: 100%;
        font-size: small;
    }
    .subject, .bodymail{
        width: 80%;
    }
    .botao{
        width: 80%;
    }
}
@media (max-width: 600px) {
    .about{
        flex-direction: column;
    }
    .containerMain{
        font-size: 10px;
    }
    .foto{
        display: none;
    }
    .boxTitle{
        font-size: xx-small;
    }
    .subject, .bodymail{
        width: 80%;
    }
    .botao{
        width: 80%;
    }
    .text{
        font-size: xx-small;
    }
    .title{
        font-size: xx-large;
    }
}